{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">MarkCompany</h1>
        <p class="lead text-muted">Приветствуем вас в нашем удивительном автосалоне! У нас вы найдете широкий выбор автомобилей, которые подарят вам ощущение свободы на дороге. С нами вы сможете погрузиться в мир роскоши, комфорта и невероятных возможностей автоиндустрии. Наша команда профессионалов с радостью поможет вам выбрать машину, которая лучше всего соответствует вашим желаниям и потребностям. Вне зависимости от того, ищете ли вы семейный автомобиль, спортивный седан или практичный кроссовер, у нас есть то, что вам нужно. Доверьтесь нам, и мы поможем сделать вашу мечту о великолепном автомобиле реальностью. Ваша удовлетворенность - наша главная цель!</p>
        <p>
          <a href="{% url 'about' %}" class="btn btn-primary my-2">Про нас</a>
          <a href="{% url 'create' %}" class="btn btn-secondary my-2">Оставить отзыв</a>
        </p>
      </div>
    </div>
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Большой выбор</h2>
          <p>В нашем ассортименте можно найти как экономичные и практичные авто для повседневного использования, так и роскошные и высокотехнологичные модели для тех, кто ценит комфорт и стиль.</p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Гарантия и качество</h2>
          <p>Наша гарантия предлагает обширный перечень преимуществ, включающих в себя продукцию высокого качества, надежность, безопасность и поддержку клиентов. Мы стремимся обеспечить уверенность в каждом приобретенном автомобиле, предлагая долгосрочные гарантии, сервисные программы и круглосуточную поддержку, чтобы каждый наш клиент чувствовал себя уверенно за рулем.</p>

        </div>
      </div>
    </div>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Отзывы</h1>
      <p class="fs-5 text-muted">Вы можете оставить свой отзыв, рассказать о своём опыте работы с нами, чтобы помочь другим покупателям.</p>
    </div>
    {% for el in tasks %}
    <div class="alert alert-warning mt-2">
        <h3>{{ el.title }}</h3>
        <p>{{ el.task }}</p>
    </div>
    {% endfor %}
{% endblock %}
